  @import url(/src/variables.css);

  .body{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  /* Logo image */
  .logo{
    position: absolute;
    z-index: 3;
    top:5%;
    left: 5%;
    width: 50px;
    cursor: pointer;
    
  }
  .logo:hover{
    transform: scale(1.05);
  }

  /* Contenedor Principal */
  .container {
    display: flex;
    max-width: 1900px;
    min-width: 375px;
    justify-content: center;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .container::before{
    content: '';
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 30%;
    top: 84%;
    border-radius: 50%;
    background: linear-gradient(-45deg,var(--secondary-color),#556f2d);
    transform: translateX(-50%);
  }
  /* Layout grid */
  .layoutContainer{
    display: grid;
    grid-template-rows: 1fr auto;
  }
  /* Form contenedor principal en el layout principal*/
  .formWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Line separation */
  .line{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0px;
     max-width: 328px;
  }
  .line::before, .line::after {
    content: "";
    flex: 0 1 100%;
    border-bottom: 1px solid rgb(193, 199, 198);
    margin: 0px 10px;
    /* transform: translateY(-50%); */
}
 
/* panel container */
.panel{
    position: absolute;
    display: flex;
    bottom: 1%;
    left: 5%;
    align-items: center;
}
.textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
}
.textContainer a{
    text-decoration: none;
    color: rgb(255, 255, 255,0.8);
    font-size: 1rem;
    line-height: 19px;
   
}

.panelImage{
    width: 90px;
    height: 90px;
}
.panel img{
    width: 100%;
    aspect-ratio: 1/1;
}
@media only screen and (min-width:500px) and (max-width:700px){
    .container::before{
        width: 2000px;
        height: 2000px;
    }
    .textContainer a{
        font-size: 1.4rem;
        line-height: 19px;
    }
    
    .panel{
        bottom: -2%;
    }
    .panelImage{
        width: 120;
        height: 120px;
    }
  
}
@media only screen and (min-width:700px) and (max-width:1900px){
    .layoutContainer{
    grid-template-rows: none;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center;
    }
    .panelLayout{
     position: relative;
     width: 100%;
     height: 100%;
    }
    .container::before{
        width: 2000px;
        height: 2000px;
        left: 48%;
        top: -10%;
        transform: translateY(-50%);
    }
    .textContainer h3{
        font-size: 2.6rem;
        margin-bottom: 10px;
    }
    .textContainer a{
        font-size: 1.4rem;
        line-height: 19px;
    }
    .textContainer{
        width: 250px;
    }
    .panel{
        bottom: 30%;
        left: 20%;
        height: 50%;
         justify-content: center;
         align-items: center;
         flex-direction: column-reverse;
    }
    .panelImage{
        width: 400px;
        height: 400px;
    }
    
}
