

.pricingCard{
    padding: 30px 40px 0 40px;
    width: 313px;
    height: 420px;
    background-color: #fff;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 10px 25px 3px ;
    border-radius: 6px;
}
.pricingCard h3{
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    width: 233px;
    height: 49px;
    text-align: center;

}
.pricingCard p{
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    width: 233px;
    height: 48px;
}
.pricingBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.priceTitle{
    color: #363f4d;
    line-height: 43px;
    font-size: 36px;
    letter-spacing: -1px;
    text-align: center;
    margin: 10px;
    
    height: 43px;

}
.perTime{
    font-size: 14px;
    letter-spacing: normal;
    line-height: 24px;
   
}
.btnChoose{
    background-color: #2dd1ac;
    margin-bottom: 20px;
    width: 229px;
    height: 50px;
    box-shadow: none;
    border-radius: 4px;
    border: none;

}
.pricingCard h4{
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    text-align: center;
}
.footerCard{
    padding: 10px 0;
    font-weight: bold !important;
}
