@import url(/src/variables.css);

.titleh3{
    background: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding-top: var( --padding-title-top );
    padding-bottom: var( --padding-title-bottom );
    font-family: var(--font-family-title);
}
.contentBanner{
    background: var(--secondary-color);
}
.contentBanner .bannerImage{
    background:gray;
    margin: auto;
    min-width: 100%;
}
.bodyProduct{
    /* background: red; */
}
.bodyProduct ul{
    width: 80%;
}
.bodyProduct ul li a{
    color:var(--secondary-color);
    display: grid;
    font-weight: bolder;
    text-decoration: none;
    grid-template-columns: 25% 50% 25%;
}
.ItemCategory{
    background: rgb(0 0 0 / 1%);
    transition: ease-out 0.4s;
}
.ItemCategory:hover{
    background: rgb(0 0 0 / 14%);
}
.ItemCategory a{
    padding-bottom: 1em;
    padding-top: 1em;
}
.ItemCategory a span{
    /* color: white; */
}
.ItemCategory span:nth-child(1),
.ItemCategory span:nth-child(3){
    text-align: center;
}

/* FORMULARIO PARA CREACION DE PRODUCTOPS */
.contentFormProduct {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1em;
    width: 90%;
    flex-direction: column;
}
.contentFormProduct .form .contentField:nth-child(1){
    padding-top: 2em;
}
.contentFormProduct .form .contentField{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
}
.contentFormProduct .form .prevImage{
    text-align: center;
}
.contentFormProduct .form .prevImage img{
    width: 200px;
    margin: auto;
}
.contentFormProduct .form .contentField span{
    font-weight: bolder;
}
.contentFormProduct .form .contentField input,
.contentFormProduct .form .contentField select,
.contentFormProduct .form .contentField button{
    font-size: 20px;
    margin-top: 10px;
    padding: 1em;
    width: 100%;
}
.contentFormProduct .form .contentField button{
    background: var(--secondary-color);
    color: var(--primary-color);
    transition: all ease-out 0.5s;
}
.contentFormProduct .form .contentField button:hover{
    background: var(--secondary-color-hover);
}
.contentFieldBarcode{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contentPage{
    list-style: none;
    display:inline-flex
}
.contentPage li{
    background: rgb(232, 232, 232);
    border-radius: solid 2px ;
    cursor: pointer;
    text-align: center;
    width: 40px;
    transition: ease-out all 0.6s;
}
.contentPage li:hover,
.contentPage li[data-status="active"]{
    background: rgb(160, 160, 160);
}

.contentLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.contentLink .returnA{
    background: var(--transparent-color);
    border: solid var(--secondary-color) 1px;
    color: var(--secondary-color);
    font-weight: bolder;
    padding: 1em;
    transition: all 0.8s ease-out;
}
.contentLink .returnA:hover{
    background: var(--secondary-color);
    color: var(--white-color);
}
.contentLink span.favorite{
    font-size: 20px;
    cursor: pointer;
    transition: all ease-out 1s;
}
.contentLink span.favorite[data-favorite="0"]{
    color: brown;
}
.contentLink span.favorite[data-favorite="1"]{
    color: #cbcb14;
}
