.products-detalle{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #96A8A6;
    padding-top: 8px;
    padding-bottom: 8px;
    /* display: none; */

}
.img-product{
    height: 80px;
    border-radius: 50%;
    padding: 10px 10px 0px 10px;
}
.products-datos{
    padding: 5px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
