html, body {
    /* height: 100vh; */
    width: 100%;
    
  }
  #root{
    /* overflow-x: auto; */
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  button{
    cursor: pointer;
    background-color: transparent;
  }
  a{
    text-decoration: none;
  }
  ul li{
    list-style: nones;
    display: block;
  }