:root{
    --primary-color:#C7D9D7;
    --secondary-color:#31401A;
    --secondary-color-hover:#56722c;
    --main-padding:16px;
    --header-height:56px;
    --footer-height:56px;
    --font-size-subtitle:14px;
    --font-size-title:20px;
    --font-family-title: sans-serif;

    --padding-title-top: 10px;
    --padding-title-bottom: 10px;
}